#[submodule "themes/next"]
#	path = themes/next
#	url = https://github.com/iissnan/hexo-theme-next
[submodule "themes\\next"]
	path = themes\\next
	url = https://github.com.cnpmjs.org/theme-next/hexo-theme-next
[submodule "themes/next"]
	path = themes/next
	url = https://github.com.cnpmjs.org/theme-next/hexo-theme-next
